@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-bg: #0f172a;
  --accent-bg: #1e293b;
  --txt-grey: #94a3b8;
  --txt-violet: #818cf8;
  --sidebar-width: 280px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-size: 15px;
}

body {
  min-height: 100vh;
  color: white;
  background-color: var(--primary-bg);
  line-height: 1.6;
  font-family: "Inter var";
  font-size: 15px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* @font-face { */
/* font-family: "Material Icons"; */
/* font-style: normal; */
/* font-weight: 400; */
/* src: url(https://example.com/MaterialIcons-Regular.eot); For IE6-8 */
/* src: local("Material Icons"), local("MaterialIcons-Regular"), */
/* url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), */
/* url(https://example.com/MaterialIcons-Regular.woff) format("woff"), */
/* url(https://example.com/MaterialIcons-Regular.ttf) format("truetype"); */
/* } */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #484e5d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:active {
  background: #676c77;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}
