@import "./base.css";

#app {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .global-search {
    width: 13rem;
  }
  .header-container {
    justify-content: flex-start;
  }
}
